@using CSRToolWebApp.Models
@model IEnumerable<CaseModel>
@foreach (var item in Model)
{
    <label class="radio-inline" style="margin-right: 15px;">
       <input type="radio" name="inlineRadioOptions" id="@string.Concat("casetype", item.CaseName.Replace(" ", string.Empty))" value="@item.CaseID" checked="@item.Selected"> @item.CaseName
     </label>
}