
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/Layouts/_PopUpLayout.cshtml";
}
<div class="container">
    <div class="panel">
        <div class="panel-body">

            <h1>QA CSR RISK TOOL</h1>
            <p class="lead">
                <strong>What is the definition of an agent?</strong><br/>
                For the purpose of this tool an agent is interpreted as any person or organisation that are being <br/>
                paid by Scania or a Scania subsidiary to facilitate a business arrangement.
            </p>
            <p class="lead">
                <strong>What is the scope of the Internet screening/web scan?</strong><br />
                Internet screening should be done both of the customer (or potential customer) and the project/site <br/>
                where the Scania equipment will be used, if known. It is advised to conduct a search in both English and <br/>
                local language. More detailed instruction of how to conduct a web scan can be found in "Web scan instructions".
            </p>
            <p class="lead">
                <strong>
                    How is the total category risk calculated?
                </strong><br />
                The risk is calculated as an average of the country risk, sector risk and the risk score calculated from<br/>
                 the specific questions associated with offer type and business arrangement.
            </p>
            <p class="lead">
                <strong>
                    How should the final result be interpreted?
                </strong><br />
                The final result should be viewed as a snapshot of the risks in a few broad risk categories. <br/>
                A low score indicates a heightened risk. If any of the risk categories are under 5 the tool's <br/>
                recommendation is "Critical zone".
            </p>
            <p class="lead">
                <strong>
                    What can I do to improve the risk assessment result?
                </strong><br />
                Review the Specific questions and see if you can influence the result (e.g.Anti-bribery and anti-corruption, <br/>
                Site knowledge, Agent questions, etc.).
            </p>
        </div>
    </div>
</div>


