@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/Layouts/_PopUpLayout.cshtml";
}
<div class="container">
    <div class="panel">
        <div class="panel-body">
            <h1>INFORMATION ABOUT THE TOOL</h1>

            <p class="lead">
                Companies are today expected to recognize and actively work with ethical, environmental and social issues <br />
                throughout their value chain, often referred to as Corporate Social Responsibility (CSR). <br />
                To not consider these type of issues constitutes risks to our business and brand. <br />
            </p>

            <p class="lead">
                <strong>Purpose of the risk tool</strong>
                <ul class="lead">
                    <li>To perform systematic customer/supplier risk assessments on Corporate Social Responsibility (CSR) issues.</li>
                    <li>To create an understanding of the sustainability performance of our customers/suppliers.</li>
                    <li>To facilitate risk management and the internal dialogue.</li>
                </ul>
            </p>

            <p class="lead">
                <strong>The basic structure</strong>
                <br />
                Fill in basic information about the country where the products will be used/come from, the type of business and <br />
                the customer/supplier by using drop-down menus. The result is a risk snapshot and category with suggested actions. <br />
                The high risk areas can easily be noted by the colour scheme: <br />
                [red 0-1] extreme risk [orange 2-4] high risk, [yellow 4-6] medium risk, [green 7-10] low risk.

                <br />
            </p>
            <p class="lead">
                <strong>Where comes the risk data from?</strong>
                <br />
                The risk data is imported from Verisk Maplecroft www.maplecroft.com
                <br />
            </p>

        </div>
        <div class="row">
            <div class="col-xs-11">
                <button class="btn btn-default btn-primary" type="button" onclick="window.close();">Close</button>
            </div>
        </div>

    </div>
</div>