@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/Layouts/_PopUpLayout.cshtml";
}
<div class="container">
    <div class="panel">
        <div class="panel-body">
            <h1>Instructions/explanations</h1>
            <ol>
                <li>Open www.google.com. Copy-paste the search string from Web scan cell.</li>
                <li>Review the first 10 hits on Google.  Look at information from the past three years. Focus primarily on information in English. </li>
                <li>No negative information --> "No negative information found" in the drop-down menu.	</li>
                <li>Yes, negative information found --> check the following: </li>
                <ol>
                    <li type="a">Is it recent info, i.e. from the last three years?</li>
                    <li type="a">Is it from a credible source of information, i.e. newspaper, UN and other multilateral development banks, international NGOs etc?</li>

                </ol>
                <li>If yes to 4a. and/or 4b. --> Choose appropriate option in the drop-down menu and provide the following information in the comment field below:</li>
                <ol>
                    <li type="a">Source of information and which year it was posted.</li>
                    <li type="a">Short summary of criticism (2-3 sentences).</li>
                    <li type="a">Weblinks.</li>
                </ol>

            </ol>
            <p>
                If you find a lot of negative information, just list the weblinks.
            </p>
            <p>
                The full search should take you maximum 10 minutes per transaction, i.e. both company and project. If there is no negative information then it should take about 5 minutes.
            </p>
            <p>
                If it gets complicated, contact the Group Sustainability Manager at CA at any point and we’ll help you.
            </p>

        </div>
        <div class="row">
            <div class="col-xs-11">
                <button class="btn btn-default btn-primary" type="button" onclick="window.close();">Close</button>
            </div>
        </div>

    </div>
</div>