<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="file" xsi:type="File"
            fileName="${basedir}/Logs/CSRToolWebApp.${date:format=yyyyMMdd}.log"
            layout="${level} - ${date:format=yyyy-MM-dd HH\:mm\:ss}${newline}===================================================${newline}CallingAssembly:  ${event-context:item=CallingAssembly}${newline}CallingMethod:    ${event-context:item=CallingMethod}${newline}SessionId:        ${event-context:item=SessionId}${newline}Message:          ${message}${newline}${newline}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>